<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>iPhone - Portfolio</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<script src="assets/js/lib/jquery-3.3.1.min.js"></script>
</head>
<body>
	<nav>
		<div class="container">
			<ul>
				<li id="appear">
					<button>
						<span id="barsBtnSlide">
							<i class="fas fa-bars"></i>
						</span>
						<span id="xBtnSlide">
							<i class="fas fa-times"></i>
						</span>
					</button>
				</li>
				<li id="logo">
					<a href="#"><i class="fab fa-apple"></i></a>
				</li>
	    		<li class="disappear">
	    			<a href="#">Mac</a>
	  			</li>
	    		<li class="disappear">
	     			<a href="#">iPad</a>
	   			</li>
	  			<li class="disappear">
	 				<a class="active" href="index.html">iPhone</a>
				</li>
				<li class="disappear">
	 				<a href="#">Watch</a>
				</li>
				<li class="disappear">
					<a href="#">TV</a>
				</li>
				<li class="disappear">
	 				<a href="#">Music</a>
				</li>
				<li class="disappear">
					<a href="#">Support</a>
				</li>
				<li class="disappear" id="searchButton">
					<i class="fas fa-search"></i>
				</li>
				<li id="searchBar">
					<i class="fas fa-search" id="search-logo2"></i>
					<input type="text" name="search-bar" placeholder="Search apple.com">
				</li>
				<li id="bagButton">
					<a href="#"><i class="fas fa-shopping-bag"></i></a>
				</li>
				<li id="xButton">
					<i class="fas fa-times"></i>
				</li>
			</ul>
		</div>
	</nav>
	<div class="collapse-dropdown">
		<ul>
			<li>
				<i class="fas fa-search" id="search-logo"></i>
				<input type="text" name="search-bar" placeholder="Search apple.com">
			</li>
			<li>
    			<a href="#">Mac</a>
  			</li>
    		<li>
     			<a href="#">iPad</a>
   			</li>
  			<li>
 				<a class="active" href="index.html">iPhone</a>
			</li>
			<li>
 				<a href="#">Watch</a>
			</li>
			<li>
				<a href="#">TV</a>
			</li>
			<li>
 				<a href="#">Music</a>
			</li>
			<li>
				<a href="#">Support</a>
			</li>
		</ul>
	</div>

	<section>
			<h1 class="">iPhone</h1>
			<h2>Amazingly simple.</h2>
			<h2>Simply amazing.</h2>
	</section>

	<section id="container">
		<div class="col-12 p-0">
			<div class="top-right">
				<h3>Largest Super Retina display. Fastest performance with A12 Bionic.</h3>
			</div>
		 	<img class="img-fluid" src="css/img/tyler-lastovich-470023-unsplash.jpg">
		</div>
		<div></div>
	</section>

	<section>
		<div class="col-12 p-0">
			<span class="shadow"></span>
			<div class="center">
				<h3>Group FaceTime. Now on iOS 12.1.</h3>
			</div>
		 	<img class="img-fluid" src="css/img/paul-hanaoka-608788-unsplash.jpg">
		</div>
		<div></div>
	</section>

	<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>